
@font-face {
    font-family: 'Hanson';
    src: url('../styles/fonts/HansonBold.woff2') format('woff2'),
        url('../styles/fonts/HansonBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Horsham-Serial';
    src: url('../styles/fonts/Horsham-Serial-Bold.woff2') format('woff2'),
        url('../styles/fonts/Horsham-Serial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




.h1{
    font-family: 'Hanson';
    transition: ease all .5s;
    font-size: 130px;
    line-height: 0px;
    color: #20356B;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    @media (max-width: 1158px) {
        font-size: 80px;
        margin: 9rem 0 3rem;
    }
}

.h1c{
    font-family: 'Hanson';
    transition: ease all .5s;
    font-size: 130px;
    line-height: 0px;
    color: #20356B;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    @media (max-width: 1158px) {
        font-size: 80px;
        margin: 9rem 0 3rem;
    }
}

.h2{
    font-family: 'Hanson';
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #20356B ;
    line-height: 5px;
    letter-spacing: 0.5;
    margin-left: 10px;
    position: relative;
    bottom: 30px;
    visibility: visible;
    transition: ease all .5s;
    @media (max-width: 1158px) {
        font-size: 18px;
        bottom: 0;
        line-height: 1.2;
        margin: 0 10px 5px
    }
}

.text{
    position: relative;
    top:20px;
    transition: ease all .5s;
    @media (max-width: 1158px) {
    top:0;
}
}

.div{    
    position: relative;
    left: 17%;
    width: 650px;
    height:80vh;
    margin: 0px;
    transition: ease all .5s;
    @media (max-width: 1370px) {
        left: 5%;
    }

    @media (max-width: 1158px) {
        left: 0;
        width: 100%;
        height: auto;
        bottom: 0;
        text-align: center;
    }
}

.row{
    position: relative;
    bottom: 5px;
    transition: ease all .5s;
    margin-left: 5px;
    @media (max-width: 1158px) {
        bottom: 0;
        height: 75px;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
    @media (max-width: 485px) {
        margin-left: 0px;

    }
}

.github{
    display: inline-block;
    position: relative;
    left: 10px;
    width: 75px;
    height: 75px;
    transition: ease all .5s;
    @media (max-width: 1158px) {
        position: static;
        margin-left: 8px;
    }
    @media (max-width: 485px) {
        left: 3px;
        margin-left: 5px;
        width: 60px;
        height: auto;
    }

}
.github:hover .githubnohover{
    visibility: hidden;
    display: inline-block;
}

.githubhover{
    height: 70px;
    width: auto;
    display: inline-block;
    @media (max-width: 485px) {
        width: 60px;
        height: auto;
    }

}

.githubnohover{
    height: 70px;
    width: auto;
    position: relative;
    bottom: 74px;
    visibility:visible;
    display: inline-block;
    @media (max-width: 485px) {
        width: 60px;
        height: auto;
        bottom: 59px;
    }

}

.store{
    width:180px;
    height: 75px;
    display: inline-block;
    @media (max-width: 485px) {
        margin: 0;
        width: 147px;
    }
}

.store:hover .storenohover{
    visibility: hidden;
    display: inline-block;
    @media (max-width: 485px) {
        width: 147px;
        height: auto;
    }
}

.storenohover{
    display: inline-block;
    height: 70px;
    width: auto;
    position: relative;
    bottom: 74px;
    visibility: visible;
    @media (max-width: 485px) {
        width: 147px;
        height: auto;
        bottom: 60px;
    }
}

.storehover{
    height: 70px;
    width: auto;
    display: inline-block;
    @media (max-width: 485px) {
        width: 147px;
        height: auto;
    }

}




