
.menu{
    margin-top: 1%;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 150%;

}

.logo{
    width:18%;
    height: auto;
    margin-left: 2%;
    display: inline-block;
    min-width:350px;
    @media (max-width: 1158px) {
        min-width:55%;
    }
}

.socials{
    display: inline-block;
    position: absolute;
    margin-right: 2%;
    right: 0px;
    width: 10%;
    height: 100%;
}

.github{
    display: inline-block;
    position: absolute;
    height: 50%;
    margin-left: 6%;
    bottom: 30%;
    left: 40%;
}

.githubnohover{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: auto;
}

.githubhover{
    position: absolute;
    height: 100%;
    width: auto;
}

.github:hover .githubnohover{
    visibility: hidden;
}


.linkedin{
    display: inline-block;
    position: absolute;
    height: 100%;
    bottom: 30%;
    height: 50%;
    width: auto;
    @media (max-width: 1158px) {
        right: 150%;
    }
}

.linkedinnohover{
    position: absolute;
    height: 100%;
    width: auto;
    z-index: 1;

}

.linkedinhover{
    position: absolute;
    height: 100%;
    width: auto;

}

.linkedin:hover .linkedinnohover{
    visibility: hidden;
    cursor: none !important;
}


